/* Universal Selector: applies to all elements*/
/*  
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 
*/


/* Element Selector: Select HTML elements of a particular kind */
body {
    /* Hexadecimal code is combination of 0-9 and A-F to form 6 characters preceded by # */
    background-color: hsl(583, 62%, 97%);
}

a{
    color: hsl(316, 75%, 45%);
}

/*Group selector: it is used to group two or more selectors*/
/* this will get applied because it is more specific than the rule below it */
header#heading, footer#foot {
    color: #ffffff;
    background-color: rgba(25, 159, 25, 0.3);
}

header, footer {
    color: black !important;
    background-color: hsl(274, 23%, 49%);
}


/* ID Selector: is used to select one element that should have a different style compared to others of its kind*/

nav#navigation{
    background-color: hsla(92, 87%, 46%, 0.7);
}

section#hero{
    background-color: #f5c78f;
    text-align: center;
    padding: 20px
}

/* Class selector: is used to style elements belonging to a particular class */

h2.section-title {
    color:rgb(19, 179, 240) ;
    font-size: 28px;
    text-decoration: underline;
}

h3.subtitle {
    font-size: 22px;
    text-decoration:underline;
}

/*Child Selector: is used to select an element that is directly inside a parent*/

section#hero > h1 {
    font-size: 48px
}

section#hero > a {
    background-color: hwb(0 100% 0%);
    text-align: left;
    font-size: 20px;
    padding:10px
}

/*Descendant selector: is used to select elements that are not direct children but descendants of an element*/

section#hero span {
    color: white;
}

section.about p {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

header#heading a, footer#foot a{
    color: white;
}