/*
* *Transform **
* Rotate: Spinning the element around its axis to a certain degree.
* Translate: Moving the element up or down, or left or right relative to its current position.
* Scale: This is basically shrinking or increasing the size of the element
* Skew: this has to do with tilting the element in a particular direction
* 
* * Transition ** this allows you control the speed of the animation.
* transition-delay: specifies how long it will take for the transition to come into effect.
* transtion-duration: how long the it takes the transition effect to be executed.
* transition-property: this specifies the CSS property or properties to transition.
* transition-timing-function: determine the speed of the curve of the transition effect.

* ** Animation * this means altering the style of an element at different intervals in an animation.

* @keyframes: used to specify the animation's code
* animation: this is the animation shorthand property
* animation-delay: the wait-time for the animation to come into effect.
* animation-direction: specifies whether an animation should be played forward, backwards or alternated.
* animation-duration: specifies the duration of the animation.
* animation-fill-mode: specifies a style for when the animation is not playing.
* animation-iteration-count: specifies the number of time an animation should be played.
* animation-name: this specifies the name of the @keyframes animaiton.
* animation-play-state: specifies whether the animation is paused or running.
* animation-timing-function: specifies the speed curve of the animation
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}


main{
    min-height: 100dvh;
    padding: 40px;
}

section.trnasform {
    min-height: 100dvh;
}
div.box{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background, transform;
    transition-delay: 3s;
    transition-duration: 5s;
    transition-timing-function: linear;
}


div.rotate:hover{
    background-color: red;
    transform: rotate(180deg);
}

div.translate:hover {
    background-color: aqua;
    /*translate: 300px 200px; /* X-axis Y-axis*/
    transform: translateX(200px);   
}

div.scale:hover{
    background-color: orange;
    transform: scale(0.8); /* 0.8 - 1.0 = -0.2 */
}
 

div.skew:hover{
    background-color: lightsalmon;
    transform: skewY(183deg);
}

div.animate{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: normal;
}

@keyframes slide {
    0% {
        transform: translateX(50px);
        background-color: red;
    }

    50%{
        transform: translateX(150px);
        background-color: orange;
    }
    
    100%{
        transform: translateX(300px);
        background-color: aqua;
    }
}