@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*
    dark-blue: #003049;
    red: #d62828;
    orange: #f77f00;
    yellow: #fcbf49;
    white: #f1faee;
*/
/*General CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}
a,small, button, label, input{
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* End of General CSS */

/* Utility Classes */
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}

.w-70{
    width: 70%
}

.container {
    width: 90%;
    margin: 8rem auto;
}

.text-center{
    text-align: center;
}

.section-title{
    font-size: 4rem;
    text-transform: capitalize;
    color: #003049;
    letter-spacing: .1rem;
}

.subtitle{
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
    color: #f77f00;
    word-spacing: .3rem;
}

.sub-heading{
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}
.item-heading{
    font-size: 2rem;
    text-transform: capitalize;
}

.item-text{
    font-size: 1.6rem;
    text-align: center;
}
/* End of Utility Class */

/* Header CSS */
header.fixed-flex{
    display: flex;
    background-color: #003049;
    color: #f1faee;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

header > div.logo{
    font-size: 2.4rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
}

header > nav.header-nav > ul.link-flex {
    display: flex;
    gap: 2rem;
}

ul.link-flex  a {
    color: #f1faee;
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

ul.link-flex a:is(:hover, :focus){
    color: #d62828;
}
/* End Header CSS */

/*Home Section CSS*/
section#home{
    display: flex;
    height: 100vh; 
    position: relative;
}

section#home > div.first{
    background-color: #d62828;
}

section#home > div.second{
    background-color: #f77f00;
}

section#home > div.hero-text{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.hero-text > h1{
    font-size: 5.6rem;
    font-weight: 700;
    color: #f1faee;
    text-transform: capitalize;
}

div.hero-text > p {
    font-size: 2.4rem;
    text-transform: capitalize;
    color: #003049;
    font-weight: 500;
}
/*End Home Section CSS*/

/* About Section CSS */
section.about > div.about-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #003049;
}

div.history, div.vision-mission{
    width: 48%;
}

div.vision{
    margin-bottom: 2rem;
}
section.about p {
    font-size: 1.6rem;
    text-align: justify;
}

section.about ul {
    font-size: 1.6rem;
}
/* End About Section CSS */

/* Services Section CSS */
div.service-flex{
    display: flex;
    gap: 2rem;
}

div.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #003049;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 5px 4px #000;
    cursor: pointer;
}

div.service-item:is(:hover, :focus) {
    background-color: #d62828;
}
div.service-item > i.bx{
    font-size: 6rem;
    color: #d62828;
}

div.service-item:is(:hover, :focus) >i.bx {
    color: #f1faee;
}

div.service-item > h3.item-heading{
    color: #f1faee;
}

div.service-item > h3.item-heading{
    color: #f1faee;
}

div.service-item > p.item-text{
    color: #f1faee;
}
/* End Services Section CSS */

/* Feature Section CSS */
div.features-flex{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;  
}

div.features-item{
    background-color: #d62828;
    color: #f1faee;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-items: space-between;
    gap: 1rem;
    padding: 3rem;
    width: calc(33.33% - 2rem);
    border-radius: 10px;
    box-shadow: 2px 5px 4px #000;
    cursor: pointer;
}

div.features-item:is(:hover, :focus){
    background-color: #003049;
}

div.features-item > i.bx{
    font-size: 6rem;
    
}

div.features-item:is(:hover, :focus) >i.bx {
    color: #d62828;
}

/* End Feature Section CSS */
/* Gallery Section CSS */
div.gallery-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

div.gallery-flex > img{
    display: block;
    width: 300px;
    height: auto;
}

div.gallery-flex > img:is(:hover, :focus){
    box-shadow: 2px 5px 4px #000;
}

/* End Gallery Section CSS */

/* Contact Section CSS */
div.contact-flex{
    display: flex;
}

div.contact-text{
    background-color: #003049;
    color: #f1faee;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    position: relative;
    overflow: hidden;
}

div.text > h3{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

div.text > small {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

div.text > small > span {
    color: #f77f00;
    line-height: 1.8;
    text-transform: capitalize;
} 

div.contact-number{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

div.contact-number:nth-child(odd){
    margin-bottom: 2rem;
}

div.contact-number > h4{
    font-size: 1.2rem;
    color: rgba(224, 225, 221, .6);
}

div.contact-number > p{
    font-size: 1.6rem
}

div.icons{
    display: flex;
    gap: 2rem
}

div.icons > i{
    font-size: 4rem;
}


div.small-circle{
    width: 10rem;
    height: 10rem;
    
    background: rgba(214, 40, 40, 0.6) ;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    bottom: 40px;
    z-index: 2;
}

div.large-circle{
    width: 30rem;
    height: 30rem;
    background: #f77f00;
    border-radius: 50%;
    position: absolute;
    bottom: -15rem;
    left: 50%;hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
}

/* End Contact Section CSS */