/*
* Box-sizing controls the behaviour height and width.
* when it set to content-box, padding and margin values will get added to the existing height and width making your element occupy a space more than what you set.
* when it set to border-box, padding and margin values will be subtracted from the height and width you set, ensuring that you do not have any additional space allocated to your element.
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
}

a{
    color: white;
}

header#heading{
    width: 100%;
    height: 120px;
    background-color: #333;
    color: white;
    padding: 10px 30px; 
}

section#home{
    padding: 40px 60px;
    height: 300px;
    width: 80%;
    background-color: black;
    color: white;
    margin: 40px auto;
}